.input_amount {
  width: 50px;
  border: 1px solid var(--bordercolor);
  border-radius: 3px;
  padding: 1%;
}

.input_amount:focus,
.input_amount:active {
  outline: none;
  border: 2px solid var(--primaryitemcolor);
}
